* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #1D3233;
  color: #FFFFFF;
  overflow-x: hidden;
}

#root {
  width: 100%;
  min-height: 100vh;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  font-family: inherit;
}

input {
  font-family: inherit;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}
